<div class="py-20">
  <div class="max-w-screen-md mx-auto p-8 bg-gray-100 shadow-md p-2">
    <div class="mb-8">
      <img
        [src]="book?.image"
        alt="Book Cover"
        class="w-full h-auto rounded-md z-10"
      />
    </div>
    <div class="text-3xl font-bold mb-4">{{ book?.title }}</div>
    <div class="text-lg text-gray-600 mb-4">By {{ book?.author }}</div>
    <div class="text-sm text-gray-500 mb-4">
      Released in {{ book?.releaseYear }}
    </div>
    <div class="text-base mb-4">{{ book?.description }}</div>
  </div>
</div>
